# App
APP_PORT=3000
APP_URL=http://localhost:${PORT}

# gRPC
GRPC_PORT=5000

# Database
POSTGRES_DB=auth_profile
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret_password
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

# JWT
JWT_ACCESS_SECRET=15d220eff258eb93ff55f6a6a629e271fa2440e14d426e5d8fb6580ca70b0dc5676da38c8bbdce381114a27998416ca8776231dddbdc6a5e07365b7946f413f7
JWT_ACCESS_EXPIRES_IN=15m
